body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

.sidebar{
    width:220px;
    height:100vh;
    background:#111827;
    position:fixed;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    margin:15px 0;
}

.main{
    margin-left:260px;
    padding:30px;
}

.cards{
    display:flex;
    gap:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    min-width:200px;
}

table{
    width:100%;
    background:#1e293b;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    padding:12px;
    border-bottom:1px solid #334155;
}